@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-button: #031954;
    }
}

@layer components {
    .base-background::before {
        content: '';
        width: 500px;
        height: 500px;
        position: absolute;
        z-index: -1;
        left: 40px;
        bottom: 2px;

        border-radius: 50%;
        background: linear-gradient(142.77deg, #c8e6c9 15.84%, #b3e5fc 85.86%);
        opacity: 0.2;
    }

    .base-background::after {
        content: '';
        width: 500px;
        height: 500px;
        position: absolute;
        right: 50px;
        top: 50px;
        z-index: -1;

        border-radius: 50%;
        background: linear-gradient(142.77deg, #c8e6c9 15.84%, #b3e5fc 85.86%);
        opacity: 0.2;
    }

    .char {
        transform: translateY(200px);
        transition: all 0.5s;
    }

    .p-gsap {
        transition: all 0.5s;
        opacity: 0;
    }

    .square {
        width: 60%;
        padding-top: 2%;
        padding-bottom: 25%;
        background-color: white;
        right: 10%;
    }
    .input{
        @apply border p-3 rounded-xl  mt-3 mb-3;
    }
}
